XmlParser/Web References/ChannelWebService/ChannelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetChannels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="epgStartDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="channelIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lenght" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChannelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannels" />
  </wsdl:message>
  <wsdl:message name="GetChannelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="ChannelServiceSoap">
    <wsdl:operation name="GetChannels">
      <wsdl:input message="tns:GetChannelsSoapIn" />
      <wsdl:output message="tns:GetChannelsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChannelServiceSoap" type="tns:ChannelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannels">
      <soap:operation soapAction="http://tempuri.org/GetChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetChannelsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChannelServiceSoap12" type="tns:ChannelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannels">
      <soap12:operation soapAction="http://tempuri.org/GetChannels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetChannelsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelService">
    <wsdl:port name="ChannelServiceSoap" binding="tns:ChannelServiceSoap">
      <soap:address location="http://localhost:1410/ChannelService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChannelServiceSoap12" binding="tns:ChannelServiceSoap12">
      <soap12:address location="http://localhost:1410/ChannelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>